<!DOCTYPE html>
<html>
<head>
<title>Exemple Js</title>
<meta charset="UTF-8">
<script src="angular.min.js"></script>
<script src="script.js"></script>
</head>
<body ng-app="mon_app">
	<div ng-controller="userController">
		<h2>Liste des utilisateurs</h2>
		<div ng-hide="list.length > 0">Aucun utilisateur</div>
		<div ng-show="list.length > 0">
			<table>
				<tr ng-repeat="data in list">
					<td>{{data.first_name}}</td>
					<td>{{data.last_name}}</td>
					<td><input type="button" ng-click="deleteUser(data)" value="supprimer" /></td>
					<td><input type="button" ng-click="updateUser(data)" value="modifier" /></td>
				</tr>
			</table>
		</div>
        <input type="button" ng-click="createUser()" value="créer" />
        <div ng-show="displayForm">
            <label>Prénom</label> <input type="text" ng-model="current.first_name" />
            <label>Nom</label> <input type="text" ng-model="current.last_name" />
            <input type="button" ng-click="editUser()" value="{{current.id > 0 ? 'modifier' : 'créer'}}" />
        </div>
	</div>
</body>
</html>
